*{padding:0;margin:0;}
body{overflow-y:scroll !important;padding-right:0 !important}
li{list-style:none}
body{color:#555555;font-family: "Noto Sans KR", sans-serif;}
body .css-sjos3-MuiFormLabel-root{font-family: "Noto Sans KR", sans-serif;}

/* header */
header{padding:10px 0;border-bottom: 1px solid #d8d8d8;}
header .nav{margin-right: 80px;}
.MuiAvatar-root{border:1px solid #d8d8d8 !important;}
header h1 a img{height:23px}

#container{padding:25px 0}

/* footer */
footer{background-color:#333;color:#fff;font-family:"Baloo Bhai 2", sans-serif;font-size: 15px;text-align: center;padding:5.5px 0;}

/* layer */
.customLayer01 h2{background-color: #0fc499;color:#fff}
.customLayer01 h2 button{color:#fff;font-size:18px;position:absolute;right:0px;top:10px;transform: scaleY(0.7);}
.customLayer01 h2 button:hover{color:#fff}
.customLayer01 .MuiDialogContent-root{padding:20px !important}
.customLayer01 .MuiDialogActions-root{padding:0px 0 20px}

/* 로그인 */
.login-logo{text-align: center;}
.login-logo img{height:23px}

#container.bg-login{background: url('../public/images/bg_login.png') no-repeat;background-size: cover;height: calc(100vh - 100px);}

/* 메인 */
#container.bg-main {position: relative;height: calc(100vh - 100px);overflow: hidden;} 
.bg-image { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-position: center; opacity: 0;  transition: opacity 3s ease-in-out; }
.bg1 { background-image: url('../public/images/bg_main01.png');}  
.bg2 { background-image: url('../public/images/bg_main02.png');}  
.bg3 {background-image: url('../public/images/bg_main03.png');}
#container.bg-main p{color:#fff;font-size: 45px;position:absolute;bottom:10%;z-index: 2;text-shadow:0 0 10px rgba(0,0,0,0.2);font-weight: bold;}
#container.bg-main a{font-size: 30px !important;color: #fff !important;position:absolute;z-index: 2;text-decoration: none !important;background: rgba(255,255,255,0.1);padding:17px 64px;border:1px solid #fff !important;left:50%;top:50%;transform:translate(-50%, -50%)}

/* mypage */

/* 여행코스 */
#container.course{padding:0}
.course h2{color:#fff;font-size: 24px;font-weight:normal;line-height:1}
.course .courseSummary em{width: 80px;height: 80px;color: #fff;display: flex;align-items: center;justify-content: center;background-color: #FABF13;border-radius: 50%;font-style: normal;margin-right:12px}
.course .courseList h3{color:#333}
.course .courseList ol {counter-reset: list-counter;padding-left: 20px; }
.course .courseList ol li{display: flex;align-items: center;width: 100%;margin-top: 16px;counter-increment: list-counter;position: relative;}
.course .courseList ol li::before{content: counter(list-counter);color:#333; position: absolute;left: -20px;top:50%;margin-top: -11px;}
.course .courseList ol li p{margin-left: 13px;}
.course .courseList ol li strong{display: block;}
.course .courseList ol li span{font-size: 14px;}
.course .courseList ol li img{width:80px;height:80px;border-radius:50%;}
.course .courseList ol +h3{margin-top: 26px;}

/* 나의여행 */
#container.course.myCourse>div>div{flex-direction:row;width:100%}
#container.course.myCourse .courseSummary{width:450px}
#container.course.myCourse .courseSummary ul{margin-top:30px} 
#container.course.myCourse .courseSummary ul li{margin-top:10px} 
#container.course.myCourse .courseSummary .MuiBox-root{height:calc(100% - 90px);}
#container.course.myCourse .courseSummary>div>div{flex-direction:column}


/* 여행계획 */
.tit_box{font-size: 26px;text-align: center;font-weight: 600;color: #0fc499;line-height:1}
.tit_box+.plan_box{margin-top: 10px;}
.plan_box label{font-size: 16px;font-weight: 600;margin-top: 5px;margin-bottom: 5px;}
.plan_box div[role=radiogroup] label{margin-top:0px;margin-bottom: 0;}
.plan_box .MuiGrid-root p{font-size: 14px;}


/* 모바일 */
@media all and (max-width:650px){
    
}

/* 여행일정만들기 */
#container.bg-tour{background: url('../public/images/bg_login.png') no-repeat;background-size: cover;min-height:100vh}

/* 나의 여행일정 */
.myPlan .tour_box li{ cursor:default;width:100%;display:flex;}
.myPlan .tour_box li img{width: 250px;}
.myPlan .tour_box li>div{margin-left: 16px;}

.MuiChip-root.MuiChip-filled span{color:#fff}
.MuiChip-colorThema1{background-color:#0aa678  !important; }
.MuiChip-colorThema2{background-color:#0fa0c4  !important}
.MuiChip-colorThema3{background-color:#13c4c8   !important}
.MuiChip-colorThema4{background-color:#2ecc71   !important}
.MuiChip-colorThema5{background-color:#00bfa6   !important}
.MuiChip-colorThema6{background-color:#ffb74d   !important}
.MuiChip-colorThema7{background-color:#ff7043   !important}
.MuiChip-colorThema8{background-color:#ffc107   !important}
.MuiChip-colorThema8{background-color:#8e44ad   !important}
.MuiChip-colorThema10{background-color:#f06292   !important}
.MuiChip-colorThema11{background-color:#e57373   !important}

/* 여행코스 */
.moreView .inner p{margin-bottom:8px;color:#555;border-bottom:1px solid #e5e5e5;padding-bottom:16px;padding-top:8px}
.moreView .inner p strong{display: block;font-weight: normal;color:#000}
.moreView .inner p strong:before{content:'·'}
.moreView .inner p strong+*{padding-left:10px;display:block;margin-top:5px;font-size:14px}
.moreView .inner a{display: inline-block;padding:6px 16px;color:#fff;font-size:0.875rem;font-weight: 500;background-color:#FF0A73;border-radius:4px;text-decoration:none;line-height:1.75}
.btnDays button{border-right:1px solid #ccc !important}
.btnDays button:last-child{border-right:0 none !important}